Test/
Codice/__Final__/server
Codice/__Final__/fedeTest
Codice/__Final__/fedeTest.c
Codice/__Final__/client
Codice/__Final__/provaServer.c
Codice/__Final__/provaClient.c
Codice/__Final__/provaServer
Codice/__Final__/provaClient
Codice/__Final__/client
Codice/__Final__/provaServer.c
Codice/__Final__/provaClient.c
Codice/__Final__/provaServer
Codice/__Final__/provaClient
Codice/__Final__/client
Codice/__Final__/gian_build_client_server.sh
Codice/__Final__Android/.idea/misc.xml
Codice/__Final__Android/.idea/deploymentTargetDropDown.xml
Codice/__Final__Android/.idea/deploymentTargetDropDown.xml
